{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="margin: 1%">Welcome to your cars !</h1>
    <section class="articles">
        <div class="cars d-flex mx-auto justify-content-between flex-wrap" style="width: 100%">
            {% for voiture in voitures %}
                <div class="card" style="width: 45%; margin:1em auto">
                    <img class="card-img-top" src="{{ voiture.photo  }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ voiture.modele | raw}}</h5>
                        <p class="card-text">{{ voiture.caracteristiques | raw }}</p>
                            <a href="{{ path('show_car', {'id': voiture.id}) }}" class="btn btn-dark">More...</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}